@{
	ViewData["Title"] = "Error";
}

<link href="@Url.Content("~/css/accessdenied.css")" rel="stylesheet" type="text/css" />

<div class="access-denied-box" style="width:800px; margin:0 auto;">
	<div class="access-denied-text">Грешка</div>
</div>